<div class="container position-relative">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div style="margin:auto; max-width: 200px">
        <%= store_logo %>
      </div>
      <%= yield :company_details if content_for?(:company_details) %>
    </div>
  </div>
</div>



