<% accounts_title ||= 'Account Title' %>
<% accounts_message ||= nil %>

<h2 class="mb-4"><%= accounts_title %></h2>
<% if accounts_message %>
  <p class="text-muted"><%= accounts_message %></p>
<% end %>

<%= yield :account_access if content_for?(:account_access) %>
