<div class="d-flex justify-content-center">
  <div style="width: 120px;">
    <%= store_logo %>
  </div>
</div>
<div class="d-flex justify-content-center">
  <small class="text-muted">
    <%= aypex_svg_tag('shield.svg', width: 12, height: 12) %> <%= I18n.t('aypex.auth_devise.secure_area') %>
  </small>
</div>
