<!DOCTYPE html>
<html>
<head>
  <title>Aypex auth devise</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "aypex/auth_devise/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
